#izquierda {
    float: left;
    width: 48%;
    border: 1px solid black;
    height: 300px;
}

#derecha {
    float: right;
    width: 48%;
    text-align: center;
}

table {
    width: 100%;
    border: 1px solid grey;
}

table tr {
    width: 25%;
}

th {
    border: 1px black;
    border-style: dotted;
}